<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 border-bottom">
    <h1 class="h2">Khóa học</h1>
    <div>
        <button pButton icon="pi pi-plus" (click)="showDialogAddCourse()"></button>
    </div>
</div>
<p-table [loading]="isLoading" [paginator]="true" [rows]="10" [value]="courses">
    <ng-template pTemplate="header">
        <tr>
            <th>#</th>
            <th>Tên khóa học</th>
            <th>Mô tả</th>
            <th>Thời lượng</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-course let-i="rowIndex">
        <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ course.name }}</td>
            <td>{{ course.description }}</td>
            <td>{{ course.time }}</td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="Khóa học mới" [(visible)]="isDialogAddCourseVisible" [modal]="true" [responsive]="true" [width]="1000"
    [minWidth]="200" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
    <form>
        <div class="form-group">
            <label for="inputName">Tên khóa học mới (*)</label>
            <input type="text" name="inputName" [(ngModel)]="newCourse.name" class="form-control" id="inputName">
        </div>
        <div class="form-group">
            <label for="inputDescription">Mô tả</label>
            <input type="text" name="inputDescription" [(ngModel)]="newCourse.description" class="form-control" id="inputDescription">
        </div>
    </form>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="createNewCourse(true)" label="Tạo mới"></button>
        <button type="button" pButton icon="pi pi-close" (click)="createNewCourse(false)" label="Hủy bỏ" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>