Customers
<div class="row mb-2">
    <div class="col-6">
        <p-autoComplete [style]="{'width':'100%'}" [(ngModel)]="searchCustomerText" field="name" [suggestions]="resultCustomers" (completeMethod)="searchCustomer($event)">
        </p-autoComplete>
    </div>
    <div class="col-6">
        <button pButton icon="pi pi-plus" (click)="showDialogAddCustomer()"></button>
    </div>
</div>
<p-table [value]="customers">
    <ng-template pTemplate="header">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Phone</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
        <tr>
            <td>{{ customer.code }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.phone }}</td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="New Customer" [(visible)]="isDialogAddCustomerVisible" [modal]="true" [responsive]="true" [width]="700" [minWidth]="200" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
    <form>
        <div class="form-group">
            <label for="inputCode">Code</label>
            <input type="text" name="inputCode" [(ngModel)]="newCustomer.code" class="form-control" id="inputCode">
        </div>
        <div class="form-group">
            <label for="inputName">Name (*)</label>
            <input type="text" name="inputName" [(ngModel)]="newCustomer.name" class="form-control" id="inputName" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="inputPhone">Phone</label>
            <input type="text" name="inputPhone" [(ngModel)]="newCustomer.phone" class="form-control" id="inputPhone" placeholder="Enter phone">
        </div>
    </form>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="createNewCustomer(true)" label="Yes"></button>
        <button type="button" pButton icon="pi pi-close" (click)="createNewCustomer(false)" label="No" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>