<ng-container *ngIf="isLoading"><i class="pi pi-spinner pi-spin"></i> Loading</ng-container>
<ng-container *ngIf="!isLoading">
    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-8">
                    <form>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-6 col-form-label">Họ và tên:</label>
                                    <div class="col-sm-6">
                                        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{ customer.name }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="staticBirthday" class="col-sm-6 col-form-label">Ngày sinh:</label>
                                    <div class="col-sm-6">
                                        <input type="text" readonly class="form-control-plaintext" id="staticBirthday" value="{{ customer.birthday | date }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="staticPhone" class="col-sm-3 col-form-label">Số điện thoại:</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control-plaintext" id="staticPhone" value="{{ customer.phone }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="inputDescription">Mô tả:</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control-plaintext" id="inputDescription" value="{{ customer.description }}">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom">
                <h1 class="h2">Tư vấn</h1>
            </div>
            <p-scrollPanel [style]="{width: '100%', height: '400px'}">
                <div class="list-comments">
                    <div *ngFor="let note of customer.notes" class="comment">
                        <div>{{ note.createdAt | date }}</div>
                        <span>{{ note.content }}</span>
                    </div>
                </div>
            </p-scrollPanel>
            <div class="comment-action border-top mt-3">
                <input placeholder="your message" [disabled]="isPostingNote" style="flex: 1 1 auto;" name="inputNote" [(ngModel)]="newNote"
                    type="text" pInputText>
                <button [disabled]="newNote.length === 0 || isPostingNote" (click)="createNewNoteForCustomer()" pButton type="button" label="Thêm"></button>
            </div>
        </div>
    </div>
</ng-container>